@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import 'navbar';
@import 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://vistapointe.net/images/restaurant-3.jpg);
    background-color: #008080b0;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}



